.advantages {
  padding: 4px 10px 46px 10px;
}

.advantages__title {
  font-family: $font-oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  padding: 0 0 0 13px;
}

.advantages__list {
  padding: 23px 0 0 0;
  margin: 0;
}

.advantages__item {
  list-style: none;
  position: relative;
  padding: 20px 12px 6px 90px;
  max-width: 485px;
  height: 54px;
}

.advantages__item--useful::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 12px;
  width: 60px;
  height: 60px;
  background: url("../img/advantages/useful.svg") no-repeat center #68b738;
}

.advantages__item--powder::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 12px;
  width: 60px;
  height: 60px;
  background: url("../img/advantages/powder.svg") no-repeat center #68b738;
}

.advantages__item--replacement::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 12px;
  width: 60px;
  height: 60px;
  background: url("../img/advantages/replacement.svg") no-repeat center #68b738;
}

.advantages__item--result::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 12px;
  width: 60px;
  height: 60px;
  background: url("../img/advantages/result.svg") no-repeat center #68b738;
}

.advantages__description {
  font-family: $font-lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  padding: 0;
  margin: 0;
  min-width: 193px;
}

@media (max-width: $mobile-width-only) {
  .advantages__number {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    padding: 30px 10px 1px 17px;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 60px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0 0;
    margin: 63px 0 0 0;
  }

  .advantages__item {
    padding: 108px 106px 45px 13px;
    width: 240px;
    position: relative;
    margin: 0 0 93px;
    height: auto;
  }

  .advantages__item--useful::after {
    top: -2px;
    left: 13px;
    width: 80px;
    height: 80px;
  }

  .advantages__item--powder::after {
    top: -2px;
    left: 13px;
    width: 80px;
    height: 80px;
  }

  .advantages__item--replacement::after {
    top: -3px;
    left: 13px;
    width: 80px;
    height: 80px;
  }

  .advantages__item--result::after {
    top: -3px;
    left: 13px;
    width: 80px;
    height: 80px;
  }

  .advantages__number {
    position: absolute;
    top: -43px;
    right: 94px;
    z-index: -1;
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
    color: #f2f2f2;
    font-family: $font-oswald;

    &--first {
      right: 120px;
    }
  }

  .advantages__description {
    font-size: 16px;
    line-height: 24px;
    width: auto;
  }
}


@media (min-width: $desktop-width) {
  .advantages {
    width: 1220px;
    margin: 0 auto;
    padding: 56px 0 0 0;
  }

  .advantages__title {
    padding: 0;
  }

  .advantages__list {
    padding: 83px 0 0 0;
    margin: 0 0 41px;
  }

  .advantages__item {
    padding: 100px 0 50px 0;
    margin: 0;
  }

  .advantages__item::after {
    top: -13px;
    left: -2px;
  }

  .advantages__number {
    top: -48px;
    right: -5px;

    &--first {
      right: 16px;
      top: -53px;
    }
  }
}
