.case {
  padding: 10px 10px;
  background-color: #eaeaea;

  &__title {
    font-family: $font-oswald;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
  }

  &__description {
    font-family: $font-lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #444444;
  }

  &__holder {
    display: flex;
    justify-content: space-around;
  }

  &__number {
    font-family: $font-oswald;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }

  &__information {
    font-family: $font-lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: #444444;
    margin: 0;
  }

  &__text {
    font-family: $font-oswald;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
  }
}
