.nutrition {
  &__list {
    list-style: none;
    padding: 20px 22px 16px 22px;
    margin: 0;
  }

  &__item {
    box-sizing: border-box;
    background-color: #f2f2f2;
    padding: 20px 20px 21px 20px;
    min-width: 280px;
  }

  &__item--cat-slim {
    position: relative;
  }

  &__item--cat-slim::after {
    content: "";
    position: absolute;
    top: 21px;
    left: 27px;
    width: 36px;
    height: 50px;
    background: url("../img/nutrition/cat-slim.svg") no-repeat center;
  }

  &__item--cat-slim::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
  }

  &__item--cat-pro {
    position: relative;
  }

  &__item--cat-pro::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 13px;
    width: 67px;
    height: 28px;
    background: url("../img/nutrition/cat-pro.svg") no-repeat center;
  }

  &__item--cat-pro::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 21px;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__program {
    font-family: $font-oswald;
    font-size: 24px;
    font-weight: 400;
    line-height: 37px;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0 29px 71px;
  }

  &__description {
    font-family: $font-lato;
    font-size: 14px;
    padding: 0 0 22px;
    line-height: 18px;
    border-bottom: 1px solid #d9d9d9;
    margin: 0 0 20px 0;
  }

  &__link {
    font-family: $font-oswald;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    margin: 0;
    display: block;
    width: 110px;
  }

  &__link--arrow {
    position: relative;

    &:hover::after {
      background: url("../img/nutrition/icon-arrow-hover.svg") no-repeat;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__link--arrow::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 100px;
    width: 32px;
    height: 10px;
    background: url("../img/nutrition/icon-arrow.svg") no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .nutrition {
    &__item {
      padding: 77px 320px 21px 53px;
      min-height: 372px;
      min-width: 708px;
    }

    &__list {
      padding: 20px 22px 16px 30px;
    }

    &__item:not(:last-child) {
      margin-bottom: 30px;
    }

    &__item--cat-slim::after {
      top: 81px;
      right: 93px;
      left: auto;
      width: 140px;
      height: 194px;
      background: url("../img/tablet/nutrition-cat-slim-tablet.svg") no-repeat;
    }

    &__item--cat-slim::before {
      top: 92px;
      left: auto;
      right: 63px;
      width: 200px;
      height: 200px;
    }

    &__item--cat-pro::after {
      top: 134px;
      right: 29px;
      left: auto;
      width: 269px;
      height: 113px;
      background: url("../img/tablet/nutrition-cat-pro-tablet.svg") no-repeat center;
    }

    &__item--cat-pro::before {
      top: 91px;
      left: auto;
      right: 63px;
      width: 200px;
      height: 200px;
    }

    &__program {
      font-size: 36px;
      line-height: 36px;
      padding: 0;
      margin-bottom: 25px;
    }

    &__description {
      font-size: 16px;
      line-height: 24px;
      padding: 0;
      margin-bottom: 51px;
      border-bottom: none;
    }

    &__link {
      font-size: 20px;
      line-height: normal;
      padding: 0 57px 0 0;
    }

    &__link--arrow {
      position: relative;
    }

    &__link--arrow::after {
      content: "";
      position: absolute;
      top: 9px;
      left: 131px;
      width: 32px;
      height: 10px;
      background: url("../img/nutrition/icon-arrow.svg") no-repeat;
    }
  }
}

@media (min-width: $desktop-width) {
  .nutrition {
    width: 1220px;
    margin: 0 auto;

    &__list {
      display: flex;
      padding: 28px 0 16px 0;
    }

    &__item {
      min-width: 570px;
      padding: 78px 45px 21px 53px;
    }

    &__item:not(:last-child) {
      margin: 0 80px 0 0;
    }

    &__item--cat-slim::after {
      top: 40px;
      right: auto;
      left: 67px;
      width: 70px;
      height: 97px;
      background: url("../img/desktop/nutrition-cat-slim-desktop.svg") no-repeat;
    }

    &__item--cat-slim::before {
      top: 46px;
      right: auto;
      left: 52px;
      width: 100px;
      height: 100px;
    }

    &__item--cat-pro::after {
      top: 66px;
      right: auto;
      left: 33px;
      width: 134px;
      height: 56px;
      background: url("../img/desktop/nutrition-cat-pro-desktop.svg") no-repeat center;
    }

    &__item--cat-pro::before {
      top: 46px;
      right: auto;
      left: 52px;
      width: 100px;
      height: 100px;
    }

    &__program {
      margin: 0 0 71px 160px;
    }

    &__description {
      margin-bottom: 27px;
    }
  }
}
