.welcome {
  width: 414px;

  &__title {
    font-family: "Oswald", sans-serif;
    font-size: 59px;
    line-height: 60px;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  &__intro {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  &__program-selection {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
  }
}
