.image-catalog {
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: $tablet-width) {
  .image-catalog {
    padding: 0 0 16px;
    margin-left: 19%;
    z-index: 3;
    position: relative;
    top: auto;
    left: auto;
  }
}


@media (min-width: $desktop-width) {
  .image-catalog {
    margin-left: 16%;
    padding: 0 0 7px;
  }
}
