.image-catalog {
  &--chicken-500g::after {
    content: "";
    position: absolute;
    width: 72px;
    height: 84px;
    top: 11px;
    left: 37px;
    background-repeat: no-repeat;
    background-image: url("../img/catalog/chicken-500g.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/chicken-500g@2x.jpg");
    }
  }

  &--chicken-1000g::after {
    content: "";
    position: absolute;
    width: 84px;
    height: 100px;
    top: 4px;
    left: 29px;
    background-repeat: no-repeat;
    background-image: url("../img/catalog/chicken-1000g.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/chicken-1000g@2x.jpg");
    }
  }

  &--fish-500g::after {
    content: "";
    position: absolute;
    width: 72px;
    height: 84px;
    top: 15px;
    left: 37px;
    background-repeat: no-repeat;
    background-image: url("../img/catalog/fish-500g.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/fish-500g@2x.jpg");
    }
  }

  &--fish-1000g::after {
    content: "";
    position: absolute;
    width: 84px;
    height: 100px;
    top: 4px;
    left: 29px;
    background-repeat: no-repeat;
    background-image: url("../img/catalog/fish-1000g.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/fish-1000g@2x.jpg");
    }
  }

  &--buckwheat-500g::after {
    content: "";
    position: absolute;
    width: 72px;
    height: 84px;
    top: 15px;
    left: 37px;
    background-repeat: no-repeat;
    background-image: url("../img/catalog/buckwheat-500g.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/buckwheat-500g@2x.jpg");
    }
  }

  &--buckwheat-1000g::after {
    content: "";
    position: absolute;
    width: 84px;
    height: 100px;
    top: 4px;
    left: 29px;
    background-repeat: no-repeat;
    background-image: url("../img/catalog/buckwheat-1000g.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/buckwheat-1000g@2x.jpg");
    }
  }

  &--rice-500g::after {
    content: "";
    position: absolute;
    width: 72px;
    height: 84px;
    top: 12px;
    left: 35px;
    background-repeat: no-repeat;
    background-image: url("../img/catalog/rice-500g.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/rice-500g@2x.jpg");
    }
  }
}

@media (min-width: $tablet-width) {
  .image-catalog {
    &--chicken-500g::after {
      width: 161px;
      height: 172px;
      top: -50px;
      left: 82px;
      background-image: url("../img/catalog/tablet/tablet-chicken-500g.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog/tablet/tablet-chicken-500g@2x.png");
      }
    }

    &--chicken-1000g::after {
      width: 168px;
      height: 206px;
      top: -67px;
      left: 79px;
      background-image: url("../img/catalog/tablet/tablet-chicken-1000g.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog/tablet/tablet-chicken-1000g@2x.png");
      }
    }

    &--fish-500g::after {
      width: 163px;
      height: 174px;
      top: -51px;
      left: 81px;
      background-image: url("../img/catalog/tablet/tablet-fish-500g.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog/tablet/tablet-fish-500g@2x.png");
      }
    }

    &--fish-1000g::after {
      width: 168px;
      height: 206px;
      top: -64px;
      left: 79px;
      background-image: url("../img/catalog/tablet/tablet-fish-1000g.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog/tablet/tablet-fish-1000g@2x.png");
      }
    }

    &--buckwheat-500g::after {
      width: 163px;
      height: 174px;
      top: -50px;
      left: 82px;
      background-image: url("../img/catalog/tablet/tablet-buckwheat-500g.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog/tablet/tablet-buckwheat-500g@2x.png");
      }
    }

    &--buckwheat-1000g::after {
      width: 168px;
      height: 206px;
      top: -64px;
      left: 79px;
      background-image: url("../img/catalog/tablet/tablet-buckwheat-1000g.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog/tablet/tablet-buckwheat-1000g@2x.png");
      }
    }

    &--rice-500g::after {
      width: 163px;
      height: 174px;
      top: -51px;
      left: 81px;
      background-image: url("../img/catalog/tablet/tablet-rice-500g.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog/tablet/tablet-rice-500g@2x.png");
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .image-catalog {
    &--chicken-500g::after {
      width: 161px;
      height: 172px;
      top: -50px;
      left: 43px;
      background-image: url("../img/catalog/desktop/desktop-chicken-500g.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog/desktop/desktop-chicken-500g@2x.png");
      }
    }

    &--chicken-1000g::after {
      width: 172px;
      height: 196px;
      top: -62px;
      left: 39px;
      background-image: url("../img/catalog/desktop/desktop-chicken-1000g.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog/desktop/desktop-chicken-1000g@2x.png");
      }
    }

    &--fish-500g::after {
      width: 163px;
      height: 174px;
      top: -51px;
      left: 42px;
      background-image: url("../img/catalog/desktop/desktop-fish-500g.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog/desktop/desktop-fish-500g@2x.png");
      }
    }

    &--fish-1000g::after {
      width: 172px;
      height: 196px;
      top: -62px;
      left: 39px;
      background-image: url("../img/catalog/desktop/desktop-fish-1000g.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog/desktop/desktop-fish-1000g@2x.png");
      }
    }

    &--buckwheat-500g::after {
      width: 163px;
      height: 174px;
      top: -51px;
      left: 43px;
      background-image: url("../img/catalog/desktop/desktop-buckwheat-500g.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog/desktop/desktop-buckwheat-500g@2x.png");
      }
    }

    &--buckwheat-1000g::after {
      width: 172px;
      height: 196px;
      top: -63px;
      left: 39px;
      background-image: url("../img/catalog/desktop/desktop-buckwheat-1000g.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog/desktop/desktop-buckwheat-1000g@2x.png");
      }
    }

    &--rice-500g::after {
      width: 163px;
      height: 174px;
      top: -52px;
      left: 42px;
      background-image: url("../img/catalog/desktop/desktop-rice-500g.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog/desktop/desktop-rice-500g@2x.png");
      }
    }
  }
}
