.optionally {
  margin: 0 22px;
}

.optionally__title {
  font-family: $font-oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.optionally__item {
  margin: 0;
  padding: 36px 0 33px;
}

.optionally__list {
  border-bottom: solid 1px #cdcdcd;
  list-style: none;
  padding-block: 11px 20px;
}

.optionally__list:first-child {
  border-top: solid 1px #cdcdcd;
}

.optionally__subtitle {
  font-family: $font-oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
}

.optionally__wrapper {
  display: flex;
  justify-content: space-between;
}

.optionally__text {
  color: #444444;
  font-family: $font-lato;
  font-size: 14px;
  line-height: 14px;
}

.optionally__price {
  color: #444444;
  font-family: $font-lato;
  font-size: 14px;
  line-height: 14px;
}

.optionally__button {
  grid-area: button;
  display: block;
  border: none;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .optionally {
    margin: 0 16px 0 21px;
  }

  .optionally__title {
    font-size: 36px;
    line-height: 36px;
    margin: -4px 0 0 47px;
  }

  .optionally__item {
    padding: 80px 0 71px;
    margin-inline: 8px 0;
  }

  .optionally__list {
    display: grid;
    grid-template-areas:
      "subtitle wrapper"
      "button button";
    padding: 18px 50px 26px 41px;
    border-bottom: solid 1px #cdcdcd;
  }

  .optionally__subtitle {
    font-size: 20px;
    line-height: 20px;
    grid-area: subtitle;
    align-self: center;
    margin: -13px 0 0;
  }

  .optionally__wrapper {
    justify-content: flex-end;
    gap: 50px;
    grid-area: wrapper;
    padding-block: 0 2px;
    min-height: 52px;
  }

  .optionally__text {
    font-size: 16px;
    line-height: 20px;
    margin: 11px 0 18px 3px;
  }

  .optionally__price {
    font-size: 16px;
    line-height: 20px;
    margin: 11px 2px 18px 4px;
  }

  .optionally__button {
    width: 100%;
    grid-area: button;
  }
}

@media (min-width: $desktop-width) {
  .optionally {
    display: grid;
    grid-template-areas:
      "title title title"
      "item item promo";
    margin: 0 auto;
    width: 1220px;
  }

  .optionally__title {
    grid-area: title;
    margin: 0 0 80px;
  }

  .optionally__item {
    grid-area: item;
    margin-inline: 0 79px;
    padding-block: 0 18px;
  }

  .optionally__list {
    display: grid;
    gap: 40px;
    width: 896px;
    align-items: center;
    min-height: 71px;
    grid-template-columns: 286px 286px 244px;
    grid-template-areas: "subtitle wrapper button";
    padding: 9px 0 8px;
    border: none;
    border-bottom: solid 1px #cdcdcd;
    border-inline: none;
    box-sizing: border-box;
  }

  .optionally__subtitle {
    grid-area: subtitle;
    margin: -3px 0 0;
  }

  .optionally__wrapper {
    justify-content: space-between;
    grid-area: wrapper;
    padding-block: 0;
  }

  .optionally__text {
    margin: 17px 8px 9px 0;
  }

  .optionally__price {
    margin: 16px 2px 18px 9px;
    text-align: left;
    min-width: 41px;
  }

  .optionally__button {
    grid-area: button;
    width: 100%;
    margin: -4px 0 -1px -3px;
  }
}
