.page-catalog {
  padding: 28px 0 36px;

  &__title {
    margin-inline: 20px;
  }
}

@media (min-width: $tablet-width) {
  .page-catalog {
    padding: 33px 0 0;

    &__title {
      margin-inline: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-catalog {
    padding: 25px 20px 72px;

    &__title {
      margin-inline: auto;
      width: 1220px;
    }
  }
}
