.product {
  margin: 0 20px 50px;
  padding: 61px 0 0;
}

.product__list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.product__list:not(:last-child) {
  margin-block: 0 45px;
}

.product__box {
  padding-inline: 50% 0;
  position: relative;
}

.product__link {
  text-decoration: none;
  color: #222222;

  &:hover {
    opacity: 0.6;
    position: static;
    z-index: 2;
  }

  &:active {
    opacity: 1;
  }
}

.product__subtitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  font-family: $font-oswald;
  width: 76px;
  margin: 0;
}

.product__wrapper {
  margin: 0;
  padding-block: 16px 20px;
}

.product__holder {
  display: flex;
  justify-content: space-between;
}

.product__info {
  color: #444444;
  font-family: $font-lato;
  font-size: 12px;
  line-height: 16px;
}

.product__value {
  color: #444444;
  font-family: $font-lato;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.product__button {
  display: block;
  border: none;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
}

.product__button--more {
  color: #444444;
  background-color: #f2f2f2;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: #444444;
  }
}

.product__list--more {
  text-align: center;
  padding-block: 57px 0;
}

.product__subtitle--more {
  width: auto;
  padding-block: 0 10px;
}

.product__text {
  color: #444444;
  font-family: $font-lato;
  font-size: 12px;
  line-height: 16px;
  margin-block: 0 20px;
}

.product__list--more::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 6px;
  margin-inline: -14px 0;
  right: auto;
  background-repeat: no-repeat;
  background-image: url("../img/catalog/plus.svg");
}


@media (min-width: $tablet-width) {
  .product {
    display: flex;
    justify-content: center;
    margin: 0 20px 80px;
    padding: 94px 0 0;
    flex-wrap: wrap;
    gap: 72px 60px;
  }

  .product__list {
    width: 324px;
    min-height: 260px;
    padding: 0 0 36px;
    background-color: #f2f2f2;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 71px;
      background-color: #ffffff;
      z-index: 1;
    }
  }

  .product__list:not(:last-child) {
    margin-block: 0;
  }

  .product__box {
    padding: 0;
  }

  .product__link {
    &:hover {
      position: relative;
    }
  }

  .product__subtitle {
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
    width: 135px;
    text-align: center;
    padding-block: 0 24px;
  }

  .product__holder {
    border-bottom: solid 1px #cdcdcd;
  }

  .product__holder:not(:last-child) {
    margin-block: 0 11px;
  }

  .product__wrapper {
    padding: 0 37px 34px;
  }

  .product__info,
  .product__value {
    font-size: 16px;
    line-height: 20px;
  }

  .product__button {
    margin: 0 auto;
    width: 251px;
  }

  .product__list--more {
    border: 2px solid #f2f2f2;
    background-color: #ffffff;
    margin: 72px 0 0;
    padding: 159px 0 0;
  }

  .product__list--more::after {
    width: 60px;
    height: 60px;
    top: 48px;
    right: 133px;
    left: auto;
    margin: 0;
    background-repeat: no-repeat;
    background-image: url("../img/catalog/tablet/tablet-plus.svg");
  }

  .product__text {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    margin: 0 auto;
    text-align: center;
    padding-block: 0 82px;
  }

  .product__subtitle--more {
    padding-block: 0 23px;
  }
}


@media (min-width: $desktop-width) {
  .product {
    margin: 0 auto;
    width: 1220px;
    gap: 73px 80px;
  }

  .product__subtitle {
    padding-block: 0 23px;
  }

  .product__list {
    min-height: 269px;
    width: 244px;
    padding: 0 0 40px;
  }

  .product__list--more {
    padding: 150px 0 10px;
  }

  .product__list--more::after {
    top: 49px;
    right: 89px;
  }

  .product__wrapper {
    padding: 0 38px 33px 39px;
  }

  .product__holder {
    padding-block: 0 7px;
  }

  .product__holder:not(:last-child) {
    margin-block: 0 5px;
  }

  .product__button {
    width: 169px;
  }

  .product__text {
    padding-block: 0 93px;
  }
}
