.button-link {
  padding: 9px 44px;
  background-color: #68b738;
  text-align: center;
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
