.comments-group {
  padding: 39px 0 23px;
}

.comments-group__list {
  padding-inline: 16px 21px;
}

@media (min-width: $tablet-width) {
  .comments-group {
    min-height: 236px;
    padding: 85px 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .comments-group {
    padding: 78px 0 40px;
    margin-block: 0 9px;
  }
}
