.contacts-group {
  padding: 37px 20px 23px;

  &__item:not(:last-child) {
    margin: 0 0 14px;
  }
}

@media (min-width: $tablet-width) {
  .contacts-group {
    padding: 77px 66px 36px 70px;
    min-height: 192px;

    &__item:not(:last-child) {
      margin: 0 0 19px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts-group {
    box-sizing: border-box;
    padding: 75px 0 10px 2px;
    margin: 0 0 41px;

    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      max-width: 568px;
    }

    &__item:not(:last-child) {
      margin: 0 20px 0 0;
    }
  }
}
