.main-nav {}

.main-nav__list {}

.main-nav__toggle {
  width: 18px;
  height: 18px;
  display: block;
  border: none;
  background-color: red;
  cursor: pointer;
  position: absolute;
  top: 22px;
  right: 21px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    padding: 0 10px;

    &__toggle {
      display: none;
    }

    &__list {
      min-width: 456px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    padding: 35px 100px 0 100px;
  }
}
