.main-header {
  padding: 65px 0 0 0;
  position: relative;
  background: url("../img/logo-mobile-text.svg") no-repeat center 23px;
}

.main-header__logo {
  position: absolute;
  top: 13px;
  left: 22px;
}