.main-header {
  padding: 65px 0 0 0;
  position: relative;
  background: url("../img/logo-mobile-text.svg") no-repeat center 23px;
}

.main-header__logo {
  position: absolute;
  top: 13px;
  left: 22px;
}

@media (min-width: $tablet-width) {
  .main-header {
    padding: 0;
    background: none;

    &__logo {
      top: 25px;
      left: 29px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    padding: 0 0 28px;

    &__logo {
      top: 8px;
      left: 112px;
    }
  }
}
