.site-list {
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #e6e6e6;
  display: none;


  &__item {
    border-top: 1px solid #e6e6e6;
  }

  &__link {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    display: block;
    padding: 6px 0;
    text-align: center;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: flex-end;
    padding: 33px 10px 36px;
    border-bottom: none;

    &__link {
      font-size: 18px;
      line-height: 24px;
    }

    &__link--active {
      border-bottom: 2px solid #69b738;
    }

    &__item {
      padding-inline: 26px 7px;
      border-top: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    padding: 19px 0 24px;

    &__link {
      font-size: 20px;
      line-height: normal;
    }

    &__link--white-color {
      color: #ffffff;
    }

    &__link--active-white {
      border-bottom: 2px solid #ffffff;
    }

    &__item {
      padding-inline: 34px 0;
    }
  }
}
