.checkbox {
  &__label {
    display: inline-block;
    padding: 7px 0 0 44px;
    color: #444444;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    position: relative;
    min-height: 30px;
    box-sizing: border-box;

    &:hover::before {
      border: 1px solid #bababa;
    }
  }

  &__label::before {
    content: "";
    width: 27px;
    height: 27px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #cdcdcd;
  }

  &__label::after {
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    top: 8px;
    left: 8px;
    background-image: url("../img/form/tick-checkbox.svg");
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
  }

  &__input:checked + &__label::after {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .checkbox {
    &__label {
      padding: 5px 0 10px 58px;
      font-size: 20px;
      line-height: normal;
    }

    &__label::before {
      width: 40px;
      height: 40px;
      left: -3px;
    }

    &__label::after {
      width: 26px;
      height: 26px;
      left: 6px;
      top: 8px;
    }
  }
}

@media (min-width: $desktop-width) {
  .checkbox {
    &__label {
      padding: 9px 0 10px 58px;
    }

    &__label::before {
      left: -1px;
      top: 3px;
    }

    &__label::after {
      left: 6px;
      top: 12px;
    }
  }
}
