.input-text {
  display: flex;
  width: 100%;
  gap: 14px;
  position: relative;

  &__label {
    color: #444444;
    font-family: $font-oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    display: block;
    padding: 14px 0 0;
  }

  &__input {
    display: block;
    height: 43px;
    flex-grow: 1;
    border: 1px solid #e7e7e7;
    padding: 0 14px;
    color: #444444;
    font-family: $font-oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    box-sizing: border-box;

    &:hover {
      border: 1px solid #cdcdcd;
    }

    &:focus {
      outline: none;
      border: 2px solid #444444;
    }

    &:invalid:not(:placeholder-shown) {
      outline: 2px solid #ff8282;
      border: none;
    }
  }

  &__email-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 13px;
    top: 13px;
    fill: #ffffff;
    color: #000000;
  }

  &__phone-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 13px;
    top: 13px;
    fill: #ffffff;
    color: #000000;
  }

  &__input:focus + &__email-icon,
  &__input:focus + &__phone-icon {
    color: #69b738;
  }

  &__input:invalid:not(:placeholder-shown) + &__email-icon,
  &__input:invalid:not(:placeholder-shown) + &__phone-icon {
    color: #ff8282;
  }
}

@media (min-width: $tablet-width) {
  .input-text {
    &__label {
      padding: 12px 0 0;
      font-size: 20px;
      line-height: normal;
    }

    &__input {
      font-size: 20px;
      line-height: normal;
      height: 52px;
      padding: 0 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .input-text {
    gap: 11px;
  }
}
