.textarea {
  color: #444444;
  font-family: $font-oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
  padding: 13px 10px 10px 16px;
  resize: none;
  width: calc(100% - 40px);
  height: 150px;
  border: 1px solid #e7e7e7;
  margin-inline: 19px 21px;
  box-sizing: border-box;
}


@media (min-width: $tablet-width) {
  .textarea {
    font-size: 20px;
    line-height: 30px;
    width: 598px;
    height: 160px;
    margin-inline: 71px 23px;
    box-sizing: content-box;
    padding: 13px 10px 3px 19px;
  }
}

@media (min-width: $desktop-width) {
  .textarea {
    width: 1189px;
    height: 163px;
    padding: 10px 10px 2px 19px;
    margin-inline: auto;
  }
}
