.cooperation {
  display: flex;
  justify-content: start;
  padding: 25px 20px;
  min-height: 90px;
  box-sizing: border-box;
  background-color: #ffffff;

  &--color-catalog {
    background-color: #f2f2f2;
  }

  &--color-form {
    background-color: #f2f2f2;
  }

  &__title {
    margin: 0;
    padding: 0;
    color: #111111;
    font-family: $font-oswald;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 140px;
    text-transform: uppercase;
  }

  &__address {
    font-family: $font-lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 140px;
    margin-left: auto;
  }
}


@media (min-width: $tablet-width) {
  .cooperation {
    min-height: 200px;
    align-items: center;
    padding: 0 63px 0 68px;
    margin: 0;
    justify-content: space-between;

    &__title {
      width: 163px;
      font-size: 20px;
      line-height: 26px;
    }

    &__address {
      width: 157px;
      font-size: 16px;
      text-align: right;
      line-height: 20px;
      min-height: 80px;
    }
  }
}

@media (min-width: $desktop-width) {
  .cooperation {
    padding: 60px 76px 55px 80px;
    width: 567px;
    position: relative;
    box-sizing: border-box;
    background-color: #ffffff;
    z-index: 3;
    transform: translate(110px, 0);

    &__title {
      font-size: 20px;
      line-height: 26px;
    }

    &__address {
      font-size: 16px;
      text-align: left;
      line-height: 20px;
    }
  }
}
