.main-footer {
  &__social {
    background-color: #f2f2f2;
  }

  &__logo {
    display: block;
    text-align: center;
    padding: 35px 20px 16px;
  }

  &__copyright {
    padding: 11px 16px 21px 18px;
    position: relative;
  }
}

@media (min-width: $tablet-width) {
  .main-footer {
    &__social {
      justify-content: space-between;
      display: flex;
      align-items: center;
      min-height: 147px;
      padding: 0 10px;
    }

    &__logo {
      padding: 22px 20px 16px;
    }

    &__copyright {
      padding: 6px 7px 6px 16px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    &__social {
      padding: 0 91px;
      min-height: 169px;
    }

    &__copyright {
      padding: 18px 20px 21px 16px;
    }
  }
}
