.main-footer {
  &__social {
    background-color: #f2f2f2;
  }

  &__logo {
    display: block;
    text-align: center;
    padding: 40px 20px;
  }

  &__copyright {
    padding: 20px 20px 40px;
  }
}

@media (min-width: $tablet-width) {
  .main-footer {
    &__social {
      justify-content: space-between;
      display: flex;
      align-items: center;
    }
  }
}
