.social {
  &__list {
    list-style: none;
    padding: 5px 40px;
    margin: 0 21px 0 21px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
  }

  &__item {
    margin: 0;
  }

  &__item:hover &__link--vkontakte::after,
  &__item:hover &__link--youtube::after,
  &__item:hover &__link--telegram::after {
    background-color: #69b738;
  }

  &__item:active &__link--vkontakte::after,
  &__item:active &__link--youtube::after,
  &__item:active &__link--telegram::after {
    background-color: #69b738;
    opacity: 0.3;
  }

  &__link {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
  }

  &__link--vkontakte::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 8px;
    mask: url("../img/social/vkontakte.svg");
    background-color: #666666;
    width: 28px;
    height: 22px;
  }

  &__link--youtube::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 10px;
    mask: url("../img/social/youtube.svg");
    background-color: #666666;
    width: 28px;
    height: 22px;
  }

  &__link--telegram::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 12px;
    mask: url("../img/social/telegram.svg");
    background-color: #666666;
    width: 28px;
    height: 22px;
  }
}

@media (min-width: $tablet-width) {
  .social {
    &__list {
      padding: 0 9px 0 41px;
      margin: 0;
      border: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .social {
    &__list {
      padding: 0 0 0 32px;
    }
  }
}
